<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grandeflorum.project.dao.ProjectMapper">
    <resultMap id="BaseResultMap" type="com.grandeflorum.project.domain.Project">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="XMMC" jdbcType="VARCHAR" property="xmmc"/>
        <result column="KFQYMC" jdbcType="VARCHAR" property="kfqymc"/>
        <result column="AUDIT_TYPE" jdbcType="DECIMAL" property="auditType"/>
    </resultMap>

    <!--获取项目管理查询列表-->
    <select id="getProjectList" resultMap="BaseResultMap">
        select * from project p where 1=1
        <if test="xmmc!=null and xmmc != ''">
            and (p.xmmc like '%'||#{xmmc}||'%' )
        </if>
        <if test="kfqymc!=null and kfqymc != ''">
            and (p.kfqymc like '%'||#{kfqymc}||'%' )
        </if>
        <if test="auditType!=null and auditType != ''">
            and p.audit_type=#{auditType}
        </if>
        <if test="kgrq!=null and kgrq != ''">
            and p.kgrq<![CDATA[>=]]>#{startTime})
        </if>
        <if test="jgrq!=null and jgrq != ''">
            and p.jgrq<![CDATA[<=]]>#{endTime})
        </if>
        <if test="sort!=null and sort.size()>0">
            <foreach collection="sort" item="item" open="order by " separator=",">
                ${item}
            </foreach>
        </if>
        <if test="sort==null or sort.size()==0">
            order by p.SYS_DATE desc
        </if>

    </select>

    <!--添加或更新审核-->
    <insert id="addOrUpdateAudit" parameterType="com.grandeflorum.project.domain.WFAudit">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(*) from wf_audit p where p.PROJECTID=#{projectid,jdbcType=VARCHAR}
        </selectKey>
        <if test="count>0">
            update wf_audit p set
            p.shjg=#{shjg,jdbcType=DECIMAL},
            p.shry=#{shry,jdbcType=VARCHAR},
            p.shrq=#{shrq,jdbcType=TIMESTAMP},
            p.bz=#{bz,jdbcType=VARCHAR},
            p.SYS_UPD_DATE=sysdate
            where p.id = #{projectid,jdbcType=VARCHAR}
        </if>
        <if test="count==0">
            insert into wf_audit(
            id,
            shjg,
            shry,
            shrq,
            bz,
            PROJECTID,
            SYS_DATE
            )
            values (
            #{id,jdbcType=VARCHAR},
            #{shjg,jdbcType=DECIMAL},
            #{shry,jdbcType=VARCHAR},
            #{shrq,jdbcType=TIMESTAMP},
            #{bz,jdbcType=VARCHAR},
            #{projectid,jdbcType=VARCHAR},
            sysdate
            )
        </if>
    </insert>

    <update id="auditProjectById" parameterType="map">
        update project t set t.audit_type = #{type} WHERE  t.id = #{id}
    </update>

</mapper>