<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grandeflorum.project.dao.WFAuditMapper">
    <resultMap id="BaseResultMap" type="com.grandeflorum.project.domain.WFAudit">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="SHJG" jdbcType="DECIMAL" property="shjg"/>
        <result column="SHRY" jdbcType="VARCHAR" property="shry"/>
        <result column="SHRQ" jdbcType="TIMESTAMP" property="shrq"/>
        <result column="BZ" jdbcType="VARCHAR" property="bz"/>
        <result column="PROJECTID" jdbcType="VARCHAR" property="projectid"/>
        <result column="SYS_DATE" jdbcType="TIMESTAMP" property="sysDate"/>
        <result column="SYS_UPD_DATE" jdbcType="TIMESTAMP" property="sysUpdDate"/>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="USER_TYPE" jdbcType="DECIMAL" property="userType"/>
        <result column="IS_ACTIVE" jdbcType="DECIMAL" property="isActive"/>
    </resultMap>

    <select id="getWFAuditList" resultMap="BaseResultMap">
        select * from WF_AUDIT t where 1=1
        <if test="shjg!=null and shjg!=''">
            and t.shjg=#{shjg}
        </if>
        <if test="projectid!=null and projectid!=''">
            and t.projectid=#{projectid}
        </if>
        order by sys_date
    </select>

    <select id="getWFAuditListByProjectid" resultMap="BaseResultMap">
        select * from WF_AUDIT t where 1=1
        <if test="projectid!=null and projectid!=''">
            and t.projectid=#{projectid}
        </if>
        order by shrq desc
    </select>

    <select id="getWFAuditInfo" parameterType="map" resultMap="BaseResultMap">
            select *
      from wf_audit t
     where t.projectid = #{projectId}
       and t.currentstatus = #{currentStatus}
       and t.is_active = 1
       and t.user_type = #{userType}
       and t.user_id =#{userId}
          and rownum =1
    </select>

    <select id="getWFAuditOtherInfo" parameterType="map" resultMap="BaseResultMap">
        select *
        from wf_audit t
        where t.projectid = #{projectId}
        and t.currentstatus = #{currentStatus}
        and t.is_active = 1
        and t.user_type = #{userType}
        and  <![CDATA[t.user_id <> #{userId}]]>
    </select>

    <update id="updateWfActive" parameterType="map">
        UPDATE wf_audit t set t.is_active = 0
        where t.projectid = #{projectId}   and t.currentstatus = #{currentStatus}
    </update>

    <select id="getOtherOrgPassCount" parameterType="map" resultType="Integer">
       SELECT count(1) from wf_audit t
        where t.projectid = #{projectId}
        and t.currentstatus = #{currentStatus}
        and t.is_active = 1 and t.user_type = #{userType}
        and t.SHJG = 1
    </select>

</mapper>