<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grandeflorum.StockHouse.dao.StockHouseMapper">
    <resultMap id="BaseResultMap" type="com.grandeflorum.StockHouse.domin.StockHouse">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="CQRXM" jdbcType="VARCHAR" property="cqrxm"/>
        <result column="CQZH" jdbcType="VARCHAR" property="cqzh"/>
        <result column="ADDRESS" jdbcType="VARCHAR" property="address"/>
        <result column="FX" jdbcType="DECIMAL" property="fx"/>
        <result column="JZMJ" jdbcType="DECIMAL" property="jzmj"/>
        <result column="AUDIT_TYPE" jdbcType="DECIMAL" property="auditType"/>
    </resultMap>

    <!--获取存量房源查询列表-->
    <select id="getStockHouseList" resultMap="BaseResultMap">
        select * from FG_H p where 1=1 and isnewstock=2
        <if test="cqrxm!=null and cqrxm != ''">
            and (p.cqrxm like '%'||#{cqrxm}||'%' )
        </if>
        <if test="address!=null and address != ''">
            and (p.address like '%'||#{address}||'%' or p.zl like '%'||#{address}||'%')
        </if>
        <if test="auditType!=null and auditType != ''">
            and p.audit_type=#{auditType}
        </if>
        <if test="sort!=null and sort.size()>0">
            <foreach collection="sort" item="item" open="order by " separator=",">
                ${item}
            </foreach>
        </if>
        <if test="sort==null or sort.size()==0">
            order by p.SYS_UPD_DATE desc
        </if>
    </select>

    <!--添加或更新审核-->
    <insert id="addOrUpdateAudit" parameterType="com.grandeflorum.project.domain.WFAudit">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(*) from wf_audit p where p.PROJECTID=#{projectid,jdbcType=VARCHAR}
        </selectKey>
        <if test="count>0">
            update wf_audit p set
            p.shjg=#{shjg,jdbcType=DECIMAL},
            p.shry=#{shry,jdbcType=VARCHAR},
            p.shrq=#{shrq,jdbcType=TIMESTAMP},
            p.bz=#{bz,jdbcType=VARCHAR},
            p.SYS_UPD_DATE=sysdate
            where p.id = #{projectid,jdbcType=VARCHAR}
        </if>
        <if test="count==0">
            insert into wf_audit(
            id,
            shjg,
            shry,
            shrq,
            bz,
            PROJECTID,
            SYS_DATE
            )
            values (
            #{id,jdbcType=VARCHAR},
            #{shjg,jdbcType=DECIMAL},
            #{shry,jdbcType=VARCHAR},
            #{shrq,jdbcType=TIMESTAMP},
            #{bz,jdbcType=VARCHAR},
            #{projectid,jdbcType=VARCHAR},
            sysdate
            )
        </if>
    </insert>

    <update id="auditStockHouseById" parameterType="map">
        update FG_H t set t.audit_type = #{type} WHERE  t.id = #{id}
    </update>

    <update id="linkH" parameterType="map">
        update FG_H t set t.zrzh = #{zrzh} ,t.ljzh=#{ljzh} WHERE  t.id = #{id}
    </update>

    <select id="getLjzh" parameterType="String" resultType="String">
        select t1.id from h t
        left join ljz t1 on t.LJZH = t1.LJZH
        where t.id=#{id} and t1.zrzh=#{zrzh} and t1.ljzh=#{ljzh}
    </select>

</mapper>