<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grandeflorum.system.dao.SystemDictionaryMapper">

    <select id="getDicName" parameterType="map" resultType="String">
        select t.name from dictionary t where t.type = #{type} and t.code = #{code,jdbcType=VARCHAR}
    </select>

    <select id="getBtachDicName" parameterType="map" resultType="String">
          select  wm_concat(to_char(t.name)) from dictionary t where t.type = #{type} and t.code in (${code})
    </select>
</mapper>