<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grandeflorum.practitioner.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.grandeflorum.practitioner.domain.Company">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="QYMC" jdbcType="VARCHAR" property="qymc" />
    <result column="YYZZ" jdbcType="VARCHAR" property="yyzz" />
    <result column="SHXYDM" jdbcType="VARCHAR" property="shxydm" />
    <result column="" jdbcType="DECIMAL" property="qylx" />
    <result column="ZCZJ" jdbcType="DECIMAL" property="zczj" />
    <result column="REGIONCODE" jdbcType="DECIMAL" property="regioncode" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="QYFR" jdbcType="VARCHAR" property="qyfr" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="YZBM" jdbcType="VARCHAR" property="yzbm" />
    <result column="ZJLX" jdbcType="DECIMAL" property="zjlx" />
    <result column="ZJH" jdbcType="VARCHAR" property="zjh" />
    <result column="QYTEL" jdbcType="VARCHAR" property="qytel" />
    <result column="CLRQ" jdbcType="TIMESTAMP" property="clrq" />
    <result column="YYQX" jdbcType="VARCHAR" property="yyqx" />
    <result column="ZGBM" jdbcType="VARCHAR" property="zgbm" />
    <result column="QYWZ" jdbcType="VARCHAR" property="qywz" />
    <result column="DZYX" jdbcType="VARCHAR" property="dzyx" />
    <result column="DMZH" jdbcType="VARCHAR" property="dmzh" />
    <result column="ZZZSH" jdbcType="VARCHAR" property="zzzsh" />
    <result column="ZZDJ" jdbcType="DECIMAL" property="zzdj" />
    <result column="PZSJ" jdbcType="TIMESTAMP" property="pzsj" />
    <result column="YXQX" jdbcType="VARCHAR" property="yxqx" />
    <result column="PZBM" jdbcType="VARCHAR" property="pzbm" />
    <result column="BZ" jdbcType="OTHER" property="bz" />
    <result column="SYS_DATE" jdbcType="TIMESTAMP" property="sysDate" />
    <result column="SYS_UPD_DATE" jdbcType="TIMESTAMP" property="sysUpdDate" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="COMPANY_TYPE" jdbcType="DECIMAL" property="companyType" />
    <result column="AUDIT_TYPE" jdbcType="DECIMAL" property="auditType" />
  </resultMap>
    


  <select id="getCompanyList" parameterType="map" resultMap="BaseResultMap">

   select t.id,t.QYMC,t.QYFR,t.PHONE,t.ZZZSH,t.YXQX,t.audit_type,t.zjh from company t
    where t.COMPANY_TYPE = #{CompanyType}

    <if test="qymc !=null and qymc != ''">
          and instr(t.QYMC,#{qymc})>0
    </if>

    <if test="qylx !=null and qylx != ''">
      and t.qylx = #{qylx}
    </if>

    <if test="auditType != null and auditType != ''">
      and t.audit_type = #{auditType}
    </if>

    <if test="sort!=null and sort.size()>0">
      <foreach collection="sort" item="item" open="order by " separator=",">
        ${item}
      </foreach>
    </if>

  </select>

  <update id="auditCompanyById" parameterType="map">
    update company t set t.audit_type = #{type} WHERE  t.id = #{id}
  </update>
</mapper>