<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grandeflorum.contract.dao.AdvanceSalesTemplateMapper">
    <resultMap id="BaseResultMap" type="com.grandeflorum.contract.domain.AdvanceSalesTemplate">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="HOUSETRADEID" jdbcType="OTHER" property="housetradeid" />
        <result column="HT1" jdbcType="VARCHAR" property="ht1" />
        <result column="HT2" jdbcType="VARCHAR" property="ht2" />
        <result column="HT3" jdbcType="VARCHAR" property="ht3" />
        <result column="JF1" jdbcType="VARCHAR" property="jf1" />
        <result column="JF2" jdbcType="VARCHAR" property="jf2" />
        <result column="JF3" jdbcType="VARCHAR" property="jf3" />
        <result column="JF4" jdbcType="VARCHAR" property="jf4" />
        <result column="JF5" jdbcType="VARCHAR" property="jf5" />
        <result column="JF6" jdbcType="VARCHAR" property="jf6" />
        <result column="JF7" jdbcType="VARCHAR" property="jf7" />
        <result column="JF8" jdbcType="VARCHAR" property="jf8" />
        <result column="JF9" jdbcType="VARCHAR" property="jf9" />
        <result column="JF10" jdbcType="VARCHAR" property="jf10" />
        <result column="JF11" jdbcType="VARCHAR" property="jf11" />
        <result column="JF12" jdbcType="VARCHAR" property="jf12" />
        <result column="JF13" jdbcType="VARCHAR" property="jf13" />
        <result column="JF14" jdbcType="VARCHAR" property="jf14" />
        <result column="JF15" jdbcType="VARCHAR" property="jf15" />
        <result column="JF16" jdbcType="VARCHAR" property="jf16" />
        <result column="YF1" jdbcType="VARCHAR" property="yf1" />
        <result column="YF2" jdbcType="VARCHAR" property="yf2" />
        <result column="YF3" jdbcType="VARCHAR" property="yf3" />
        <result column="YF4" jdbcType="VARCHAR" property="yf4" />
        <result column="YF5" jdbcType="VARCHAR" property="yf5" />
        <result column="YF6" jdbcType="VARCHAR" property="yf6" />
        <result column="YF7" jdbcType="VARCHAR" property="yf7" />
        <result column="YF8" jdbcType="VARCHAR" property="yf8" />
        <result column="YF9" jdbcType="VARCHAR" property="yf9" />
        <result column="YF10" jdbcType="VARCHAR" property="yf10" />
        <result column="YF11" jdbcType="VARCHAR" property="yf11" />
        <result column="YF12" jdbcType="VARCHAR" property="yf12" />
        <result column="YF13" jdbcType="VARCHAR" property="yf13" />
        <result column="YF14" jdbcType="VARCHAR" property="yf14" />
        <result column="YF15" jdbcType="VARCHAR" property="yf15" />
        <result column="YF16" jdbcType="VARCHAR" property="yf16" />
        <result column="YF17" jdbcType="VARCHAR" property="yf17" />
        <result column="YF18" jdbcType="VARCHAR" property="yf18" />
        <result column="YF19" jdbcType="VARCHAR" property="yf19" />
        <result column="D1T1" jdbcType="VARCHAR" property="d1t1" />
        <result column="D1T2" jdbcType="VARCHAR" property="d1t2" />
        <result column="D1T3" jdbcType="VARCHAR" property="d1t3" />
        <result column="D1T4" jdbcType="VARCHAR" property="d1t4" />
        <result column="D1T5" jdbcType="VARCHAR" property="d1t5" />
        <result column="D1T6" jdbcType="VARCHAR" property="d1t6" />
        <result column="D1T7" jdbcType="VARCHAR" property="d1t7" />
        <result column="D1T8" jdbcType="VARCHAR" property="d1t8" />
        <result column="D1T9" jdbcType="VARCHAR" property="d1t9" />
        <result column="D1T10" jdbcType="VARCHAR" property="d1t10" />
        <result column="D2T1" jdbcType="VARCHAR" property="d2t1" />
        <result column="D2T2" jdbcType="VARCHAR" property="d2t2" />
        <result column="D3T1" jdbcType="VARCHAR" property="d3t1" />
        <result column="D3T2" jdbcType="VARCHAR" property="d3t2" />
        <result column="D3T3" jdbcType="VARCHAR" property="d3t3" />
        <result column="D3T4" jdbcType="VARCHAR" property="d3t4" />
        <result column="D3T5" jdbcType="VARCHAR" property="d3t5" />
        <result column="D3T6" jdbcType="VARCHAR" property="d3t6" />
        <result column="D3T7" jdbcType="VARCHAR" property="d3t7" />
        <result column="D3T8" jdbcType="VARCHAR" property="d3t8" />
        <result column="D3T9" jdbcType="VARCHAR" property="d3t9" />
        <result column="D3T10" jdbcType="VARCHAR" property="d3t10" />
        <result column="D3T11" jdbcType="VARCHAR" property="d3t11" />
        <result column="D3T12" jdbcType="VARCHAR" property="d3t12" />
        <result column="D3T13" jdbcType="VARCHAR" property="d3t13" />
        <result column="D3T14" jdbcType="VARCHAR" property="d3t14" />
        <result column="D3T15" jdbcType="VARCHAR" property="d3t15" />
        <result column="D3T16" jdbcType="VARCHAR" property="d3t16" />
        <result column="D3T17" jdbcType="VARCHAR" property="d3t17" />
        <result column="D3T18" jdbcType="VARCHAR" property="d3t18" />
        <result column="D4T1" jdbcType="VARCHAR" property="d4t1" />
        <result column="D4T2" jdbcType="VARCHAR" property="d4t2" />
        <result column="D4T3" jdbcType="VARCHAR" property="d4t3" />
        <result column="D4T4" jdbcType="VARCHAR" property="d4t4" />
        <result column="D4T5" jdbcType="VARCHAR" property="d4t5" />
        <result column="D4T6" jdbcType="VARCHAR" property="d4t6" />
        <result column="D4T7" jdbcType="VARCHAR" property="d4t7" />
        <result column="D4T8" jdbcType="VARCHAR" property="d4t8" />
        <result column="D4T9" jdbcType="VARCHAR" property="d4t9" />
        <result column="D4T10" jdbcType="VARCHAR" property="d4t10" />
        <result column="D4T11" jdbcType="VARCHAR" property="d4t11" />
        <result column="D4T12" jdbcType="VARCHAR" property="d4t12" />
        <result column="D5T1" jdbcType="VARCHAR" property="d5t1" />
        <result column="D5T2" jdbcType="VARCHAR" property="d5t2" />
        <result column="D5T3" jdbcType="VARCHAR" property="d5t3" />
        <result column="D6T1" jdbcType="VARCHAR" property="d6t1" />
        <result column="D6T2" jdbcType="VARCHAR" property="d6t2" />
        <result column="D6T3" jdbcType="VARCHAR" property="d6t3" />
        <result column="D6T4" jdbcType="VARCHAR" property="d6t4" />
        <result column="D6T5" jdbcType="VARCHAR" property="d6t5" />
        <result column="D6T6" jdbcType="VARCHAR" property="d6t6" />
        <result column="D6T7" jdbcType="VARCHAR" property="d6t7" />
        <result column="D6T8" jdbcType="VARCHAR" property="d6t8" />
        <result column="D6T9" jdbcType="VARCHAR" property="d6t9" />
        <result column="D6T10" jdbcType="VARCHAR" property="d6t10" />
        <result column="D6T11" jdbcType="VARCHAR" property="d6t11" />
        <result column="D6T12" jdbcType="VARCHAR" property="d6t12" />
        <result column="D6T13" jdbcType="VARCHAR" property="d6t13" />
        <result column="D6T14" jdbcType="VARCHAR" property="d6t14" />
        <result column="D6T15" jdbcType="VARCHAR" property="d6t15" />
        <result column="D6T16" jdbcType="VARCHAR" property="d6t16" />
        <result column="D6T17" jdbcType="VARCHAR" property="d6t17" />
        <result column="D6T18" jdbcType="VARCHAR" property="d6t18" />
        <result column="D7T1" jdbcType="VARCHAR" property="d7t1" />
        <result column="D7T2" jdbcType="VARCHAR" property="d7t2" />
        <result column="D7T3" jdbcType="VARCHAR" property="d7t3" />
        <result column="D7T4" jdbcType="VARCHAR" property="d7t4" />
        <result column="D7T5" jdbcType="VARCHAR" property="d7t5" />
        <result column="D7T6" jdbcType="VARCHAR" property="d7t6" />
        <result column="D7T7" jdbcType="VARCHAR" property="d7t7" />
        <result column="D7T8" jdbcType="VARCHAR" property="d7t8" />
        <result column="D7T9" jdbcType="VARCHAR" property="d7t9" />
        <result column="D7T10" jdbcType="VARCHAR" property="d7t10" />
        <result column="D7T11" jdbcType="VARCHAR" property="d7t11" />
        <result column="D7T12" jdbcType="VARCHAR" property="d7t12" />
        <result column="D7T13" jdbcType="VARCHAR" property="d7t13" />
        <result column="D7T14" jdbcType="VARCHAR" property="d7t14" />
        <result column="D7T15" jdbcType="VARCHAR" property="d7t15" />
        <result column="D7T16" jdbcType="VARCHAR" property="d7t16" />
        <result column="D7T17" jdbcType="VARCHAR" property="d7t17" />
        <result column="D7T18" jdbcType="VARCHAR" property="d7t18" />
        <result column="D7T19" jdbcType="VARCHAR" property="d7t19" />
        <result column="D7T20" jdbcType="VARCHAR" property="d7t20" />
        <result column="D7T21" jdbcType="VARCHAR" property="d7t21" />
        <result column="D7T22" jdbcType="VARCHAR" property="d7t22" />
        <result column="D7T23" jdbcType="VARCHAR" property="d7t23" />
        <result column="D7T24" jdbcType="VARCHAR" property="d7t24" />
        <result column="D7T25" jdbcType="VARCHAR" property="d7t25" />
        <result column="D7T26" jdbcType="VARCHAR" property="d7t26" />
        <result column="D7T27" jdbcType="VARCHAR" property="d7t27" />
        <result column="D8T1" jdbcType="VARCHAR" property="d8t1" />
        <result column="D8T2" jdbcType="VARCHAR" property="d8t2" />
        <result column="D8T3" jdbcType="VARCHAR" property="d8t3" />
        <result column="D8T4" jdbcType="VARCHAR" property="d8t4" />
        <result column="D8T5" jdbcType="VARCHAR" property="d8t5" />
        <result column="D8T6" jdbcType="VARCHAR" property="d8t6" />
        <result column="D8T7" jdbcType="VARCHAR" property="d8t7" />
        <result column="D8T8" jdbcType="VARCHAR" property="d8t8" />
        <result column="D9T1" jdbcType="VARCHAR" property="d9t1" />
        <result column="D9T2" jdbcType="VARCHAR" property="d9t2" />
        <result column="D9T3" jdbcType="VARCHAR" property="d9t3" />
        <result column="D9T4" jdbcType="VARCHAR" property="d9t4" /> 
        <result column="D10T1" jdbcType="VARCHAR" property="d10t1" />
        <result column="D10T2" jdbcType="VARCHAR" property="d10t2" />
        <result column="D10T3" jdbcType="VARCHAR" property="d10t3" />
        <result column="D10T4" jdbcType="VARCHAR" property="d10t4" />
        <result column="D10T5" jdbcType="VARCHAR" property="d10t5" />
        <result column="D10T6" jdbcType="VARCHAR" property="d10t6" />
        <result column="D10T7" jdbcType="VARCHAR" property="d10t7" />
        <result column="D10T8" jdbcType="VARCHAR" property="d10t8" />
        <result column="D10T9" jdbcType="VARCHAR" property="d10t9" />
        <result column="D10T10" jdbcType="VARCHAR" property="d10t10" />
        <result column="D10T11" jdbcType="VARCHAR" property="d10t11" />
        <result column="D10T12" jdbcType="VARCHAR" property="d10t12" />
        <result column="D10T13" jdbcType="VARCHAR" property="d10t13" />
        <result column="D10T14" jdbcType="VARCHAR" property="d10t14" />
        <result column="D10T15" jdbcType="VARCHAR" property="d10t15" />
        <result column="D10T16" jdbcType="VARCHAR" property="d10t16" />
        <result column="D10T17" jdbcType="VARCHAR" property="d10t17" />
        <result column="D10T18" jdbcType="VARCHAR" property="d10t18" />
        <result column="D10T19" jdbcType="VARCHAR" property="d10t19" />
        <result column="D10T20" jdbcType="VARCHAR" property="d10t20" />
        <result column="D10T21" jdbcType="VARCHAR" property="d10t21" />
        <result column="D10T22" jdbcType="VARCHAR" property="d10t22" />
        <result column="D10T23" jdbcType="VARCHAR" property="d10t23" />
        <result column="D10T24" jdbcType="VARCHAR" property="d10t24" />
        <result column="D10T25" jdbcType="VARCHAR" property="d10t25" />
        <result column="D10T26" jdbcType="VARCHAR" property="d10t26" />
        <result column="D10T27" jdbcType="VARCHAR" property="d10t27" />
        <result column="D10T27" jdbcType="VARCHAR" property="d10t28" />
        <result column="D10T27" jdbcType="VARCHAR" property="d10t29" />
        <result column="D10T27" jdbcType="VARCHAR" property="d10t30" />
        <result column="D10T27" jdbcType="VARCHAR" property="d10t31" />
        <result column="D11T1" jdbcType="VARCHAR" property="d11t1" />
        <result column="D11T2" jdbcType="VARCHAR" property="d11t2" />
        <result column="D11T3" jdbcType="VARCHAR" property="d11t3" />
        <result column="D11T4" jdbcType="VARCHAR" property="d11t4" />
        <result column="D11T5" jdbcType="VARCHAR" property="d11t5" />
        <result column="D11T6" jdbcType="VARCHAR" property="d11t6" />
        <result column="D11T7" jdbcType="VARCHAR" property="d11t7" />
        <result column="D11T8" jdbcType="VARCHAR" property="d11t8" />
        <result column="D12T1" jdbcType="VARCHAR" property="d12t1" />
        <result column="D12T2" jdbcType="VARCHAR" property="d12t2" />
        <result column="D12T3" jdbcType="VARCHAR" property="d12t3" />
        <result column="D12T4" jdbcType="VARCHAR" property="d12t4" />
        <result column="D12T5" jdbcType="VARCHAR" property="d12t5" />
        <result column="D12T6" jdbcType="VARCHAR" property="d12t6" />
        <result column="D12T7" jdbcType="VARCHAR" property="d12t7" />
        <result column="D12T8" jdbcType="VARCHAR" property="d12t8" />
        <result column="D13T1" jdbcType="VARCHAR" property="d13t1" />
        <result column="D13T2" jdbcType="VARCHAR" property="d13t2" />
        <result column="D13T3" jdbcType="VARCHAR" property="d13t3" />
        <result column="D13T4" jdbcType="VARCHAR" property="d13t4" />
        <result column="D13T5" jdbcType="VARCHAR" property="d13t5" />
        <result column="D13T6" jdbcType="VARCHAR" property="d13t6" />
        <result column="D13T7" jdbcType="VARCHAR" property="d13t7" />
        <result column="D14T1" jdbcType="VARCHAR" property="d14t1" />
        <result column="D14T2" jdbcType="VARCHAR" property="d14t2" />
        <result column="D14T3" jdbcType="VARCHAR" property="d14t3" />
        <result column="D15T1" jdbcType="VARCHAR" property="d15t1" />
        <result column="D15T2" jdbcType="VARCHAR" property="d15t2" />
        <result column="D15T3" jdbcType="VARCHAR" property="d15t3" />
        <result column="D15T4" jdbcType="VARCHAR" property="d15t4" />
        <result column="D15T5" jdbcType="VARCHAR" property="d15t5" />
        <result column="D15T6" jdbcType="VARCHAR" property="d15t6" />
        <result column="D16T1" jdbcType="VARCHAR" property="d16t1" />
        <result column="D16T2" jdbcType="VARCHAR" property="d16t2" />
        <result column="D16T3" jdbcType="VARCHAR" property="d16t3" />
        <result column="D16T4" jdbcType="VARCHAR" property="d16t4" />
        <result column="D16T5" jdbcType="VARCHAR" property="d16t5" />
        <result column="D16T6" jdbcType="VARCHAR" property="d16t6" />
        <result column="D16T7" jdbcType="VARCHAR" property="d16t7" />
        <result column="D16T8" jdbcType="VARCHAR" property="d16t8" />
        <result column="D16T9" jdbcType="VARCHAR" property="d16t9" />
        <result column="D16T10" jdbcType="VARCHAR" property="d16t10" />
        <result column="D16T11" jdbcType="VARCHAR" property="d16t11" />
        <result column="D16T12" jdbcType="VARCHAR" property="d16t12" />
        <result column="D16T13" jdbcType="VARCHAR" property="d16t10" />
        <result column="D16T14" jdbcType="VARCHAR" property="d16t11" />
        <result column="D16T15" jdbcType="VARCHAR" property="d16t12" />
        <result column="D17T1" jdbcType="VARCHAR" property="d17t1" />
        <result column="D17T2" jdbcType="VARCHAR" property="d17t2" />
        <result column="D18T1" jdbcType="VARCHAR" property="d18t1" />
        <result column="D19T1" jdbcType="VARCHAR" property="d19t1" />
        <result column="D19T2" jdbcType="VARCHAR" property="d19t2" />
        <result column="D19T3" jdbcType="VARCHAR" property="d19t3" />
        <result column="D20T1" jdbcType="VARCHAR" property="d20t1" />
        <result column="D20T2" jdbcType="VARCHAR" property="d20t2" />
        <result column="D20T3" jdbcType="VARCHAR" property="d20t3" />
        <result column="D20T4" jdbcType="VARCHAR" property="d20t4" />
        <result column="D20T5" jdbcType="VARCHAR" property="d20t5" />
        <result column="D21T1" jdbcType="VARCHAR" property="d21t1" />
        <result column="D21T2" jdbcType="VARCHAR" property="d21t2" />
        <result column="D21T3" jdbcType="VARCHAR" property="d21t3" />
        <result column="D21T4" jdbcType="VARCHAR" property="d21t4" />
        <result column="D21T5" jdbcType="VARCHAR" property="d21t5" />
        <result column="D22T1" jdbcType="VARCHAR" property="d22t1" />
        <result column="D22T2" jdbcType="VARCHAR" property="d22t2" />
        <result column="D22T3" jdbcType="VARCHAR" property="d22t3" />
        <result column="D22T4" jdbcType="VARCHAR" property="d22t4" />
        <result column="D23T1" jdbcType="VARCHAR" property="d23t1" />
        <result column="D24T1" jdbcType="VARCHAR" property="d24t1" />
        <result column="D24T2" jdbcType="VARCHAR" property="d24t2" />
        <result column="D25T1" jdbcType="VARCHAR" property="d25t1" />
        <result column="D25T2" jdbcType="VARCHAR" property="d25t2" />
        <result column="D27T1" jdbcType="VARCHAR" property="d27t1" />
        <result column="D27T2" jdbcType="VARCHAR" property="d27t2" /> 
        <result column="D29T1" jdbcType="VARCHAR" property="d29t1" />
        <result column="D29T2" jdbcType="VARCHAR" property="d29t2" />
        <result column="D29T3" jdbcType="VARCHAR" property="d29t3" />
        <result column="D29T4" jdbcType="VARCHAR" property="d29t4" />
        <result column="D29T5" jdbcType="VARCHAR" property="d29t5" />
        <result column="D29T6" jdbcType="VARCHAR" property="d29t6" />
        <result column="D29T7" jdbcType="VARCHAR" property="d29t7" />
        <result column="D29T8" jdbcType="VARCHAR" property="d29t8" />
        <result column="QZ1" jdbcType="VARCHAR" property="qz1" />
        <result column="QZ2" jdbcType="VARCHAR" property="qz2" />
        <result column="QZ3" jdbcType="VARCHAR" property="qz3" />
        <result column="QZ4" jdbcType="VARCHAR" property="qz4" />
        <result column="QZ5" jdbcType="VARCHAR" property="qz5" />
        <result column="QZ6" jdbcType="VARCHAR" property="qz6" />
        <result column="QZ7" jdbcType="VARCHAR" property="qz7" />
        <result column="QZ8" jdbcType="VARCHAR" property="qz8" />
        <result column="QZ9" jdbcType="VARCHAR" property="qz9" />
        <result column="QZ10" jdbcType="VARCHAR" property="qz10" />
        <result column="QZ11" jdbcType="VARCHAR" property="qz11" />
        <result column="FJ6JW1" jdbcType="VARCHAR" property="fj6jw1" />
        <result column="FJ6JW2" jdbcType="VARCHAR" property="fj6jw2" />
        <result column="FJ6JW3" jdbcType="VARCHAR" property="fj6jw3" />
        <result column="FJ6JW4" jdbcType="VARCHAR" property="fj6jw4" />
        <result column="FJ6JW5" jdbcType="VARCHAR" property="fj6jw5" />
        <result column="FJ6JW6" jdbcType="VARCHAR" property="fj6jw6" />
        <result column="FJ6JW7" jdbcType="VARCHAR" property="fj6jw7" />
        <result column="FJ6JW8" jdbcType="VARCHAR" property="fj6jw8" />
        <result column="FJ6JW9" jdbcType="VARCHAR" property="fj6jw9" />
        <result column="FJ6JW10" jdbcType="VARCHAR" property="fj6jw10" />
        <result column="FJ6JW11" jdbcType="VARCHAR" property="fj6jw11" />
        <result column="FJ6JW12" jdbcType="VARCHAR" property="fj6jw12" />
        <result column="FJ6JW13" jdbcType="VARCHAR" property="fj6jw13" />
        <result column="FJ6JW14" jdbcType="VARCHAR" property="fj6jw14" />
        <result column="FJ6JW15" jdbcType="VARCHAR" property="fj6jw15" />
        <result column="FJ6JW16" jdbcType="VARCHAR" property="fj6jw16" />
        <result column="FJ6JW17" jdbcType="VARCHAR" property="fj6jw17" />
        <result column="FJ6JW18" jdbcType="VARCHAR" property="fj6jw18" />
        <result column="FJ6JW19" jdbcType="VARCHAR" property="fj6jw19" />
        <result column="FJ6JW20" jdbcType="VARCHAR" property="fj6jw20" />
        <result column="FJ6JW21" jdbcType="VARCHAR" property="fj6jw21" />
        <result column="FJ6JW22" jdbcType="VARCHAR" property="fj6jw22" />
        <result column="FJ6JW23" jdbcType="VARCHAR" property="fj6jw23" />
        <result column="FJ6JW24" jdbcType="VARCHAR" property="fj6jw24" />
        <result column="FJ6JW25" jdbcType="VARCHAR" property="fj6jw25" />
        <result column="FJ6JW26" jdbcType="VARCHAR" property="fj6jw26" />
        <result column="FJ6JW27" jdbcType="VARCHAR" property="fj6jw27" />
        <result column="FJ6JW28" jdbcType="VARCHAR" property="fj6jw28" />
        <result column="FJ6JW29" jdbcType="VARCHAR" property="fj6jw29" />
        <result column="FJ6JW30" jdbcType="VARCHAR" property="fj6jw30" />
        <result column="FJ7JW1" jdbcType="VARCHAR" property="fj7jw1" />
        <result column="FJ7JW2" jdbcType="VARCHAR" property="fj7jw2" />
        <result column="FJ7JW3" jdbcType="VARCHAR" property="fj7jw3" />
        <result column="FJ7JW4" jdbcType="VARCHAR" property="fj7jw4" />
        <result column="FJ7JW5" jdbcType="VARCHAR" property="fj7jw5" />
        <result column="FJ7JW6" jdbcType="VARCHAR" property="fj7jw6" />
        <result column="FJ7JW7" jdbcType="VARCHAR" property="fj7jw7" />
        <result column="FJ7JW8" jdbcType="VARCHAR" property="fj7jw8" />
        <result column="FJ7JW9" jdbcType="VARCHAR" property="fj7jw9" />
        <result column="FJ7JW10" jdbcType="VARCHAR" property="fj7jw10" />
        <result column="FJ7JW11" jdbcType="VARCHAR" property="fj7jw11" />
        <result column="FJ7JW12" jdbcType="VARCHAR" property="fj7jw12" />
        <result column="FJ7JW13" jdbcType="VARCHAR" property="fj7jw13" />
        <result column="FJ7JW14" jdbcType="VARCHAR" property="fj7jw14" />

        <result column="HTMC" jdbcType="VARCHAR" property="htmc" />
        <result column="FH" jdbcType="VARCHAR" property="fh" />

        <result column="ISDBR" jdbcType="DECIMAL" property="isdbr"/>
        <result column="ISFZR" jdbcType="DECIMAL" property="isfzr"/>
        <result column="ISDBRGJ" jdbcType="DECIMAL" property="isdbrgj"/>
        <result column="ISDBRHJ" jdbcType="DECIMAL" property="isdbrhj"/>
        <result column="ISDBRSFZ" jdbcType="DECIMAL" property="isdbrsfz"/>
        <result column="ISDBRHZ" jdbcType="DECIMAL" property="isdbrhz"/>
        <result column="ISDBRYYZZ" jdbcType="DECIMAL" property="isdbryyzz"/>

        <result column="ISWTDLR" jdbcType="DECIMAL" property="iswtdlr"/>
        <result column="ISFDDLR" jdbcType="DECIMAL" property="isfddlr"/>
        <result column="ISDLRGJ" jdbcType="DECIMAL" property="isdlrgj"/>
        <result column="ISDLRHJ" jdbcType="DECIMAL" property="isdlrhj"/>
        <result column="IDLRSFZ" jdbcType="DECIMAL" property="isdlrsfz"/>
        <result column="ISDLRHZ" jdbcType="DECIMAL" property="isdlrhz"/>
        <result column="ISDLRYYZZ" jdbcType="DECIMAL" property="isdlryyzz"/>

        <result column="ISCRD1" jdbcType="DECIMAL" property="iscrd1"/>
        <result column="ISHBD1" jdbcType="DECIMAL" property="ishbd1"/>

        <result column="ISZZD3" jdbcType="DECIMAL" property="iszzd3"/>
        <result column="ISBGD3" jdbcType="DECIMAL" property="isbgd3"/>
        <result column="ISSYD3" jdbcType="DECIMAL" property="issyd3"/>
        <result column="ISZ1D3" jdbcType="DECIMAL" property="isz1d3"/>
        <result column="ISZ2D3" jdbcType="DECIMAL" property="isz2d3"/>

        <result column="ISDYD4" jdbcType="DECIMAL" property="isdyd4"/>
        <result column="ISWDYD4" jdbcType="DECIMAL" property="iswdyd4"/>


        <result column="ISYFFKD5" jdbcType="DECIMAL" property="isyffkd5"/>
        <result column="ISQBSSD5" jdbcType="DECIMAL" property="isqbssd5"/>

        <result column="ISHTQDD7" jdbcType="DECIMAL" property="ishtqdd7"/>
        <result column="ISJFSFKD7" jdbcType="DECIMAL" property="isjfsfkd7"/>
        <result column="ISDZD7" jdbcType="DECIMAL" property="isdzd7"/>
        <result column="ISGJJDKD7" jdbcType="DECIMAL" property="isgjjdkd7"/>
        <result column="ISSYDKD7" jdbcType="DECIMAL" property="issydkd7"/>

        <result column="ISYFFKD16" jdbcType="DECIMAL" property="isyffkd16"/>
        <result column="ISQBSSD16" jdbcType="DECIMAL" property="isqbssd16"/>
        <result column="ISGJ1D16" jdbcType="DECIMAL" property="isgj1d16"/>
        <result column="ISDF1D16" jdbcType="DECIMAL" property="isdf1d16"/>
        <result column="ISGJ2D16" jdbcType="DECIMAL" property="isgj2d16"/>
        <result column="ISDF2D16" jdbcType="DECIMAL" property="isdf2d16"/>

        <result column="IS30TND19" jdbcType="DECIMAL" property="is30tnd19"/>

        <result column="ISBGZD21" jdbcType="DECIMAL" property="isbgzd21"/>
        <result column="ISCJZD21" jdbcType="DECIMAL" property="iscjzd21"/>

        <result column="ISKDD25" jdbcType="DECIMAL" property="iskdd25"/>
        <result column="ISGHXD25" jdbcType="DECIMAL" property="isghxd25"/>
    </resultMap>

    <select id="getIdByHousetradeId"  parameterType="String" resultType="String">
        select Id
        from ADVANCE_SALES_TEMPLATE t
        where t.housetradeid=#{housetradeid}
    </select>
    <select id="getAllByHousetradeId"  parameterType="String" resultType="AdvanceSalesTemplate">
        select *
        from ADVANCE_SALES_TEMPLATE t
        where t.housetradeid=#{housetradeid}
    </select>

</mapper>