<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grandeflorum.contract.dao.CashSalesTemplateMapper">
<resultMap id="BaseResultMap" type="com.grandeflorum.contract.domain.CashSalesTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="HOUSETRADEID" jdbcType="OTHER" property="housetradeid" />
    <result column="HT1" jdbcType="VARCHAR" property="ht1" />
    <result column="HT2" jdbcType="VARCHAR" property="ht2" />
    <result column="HT3" jdbcType="VARCHAR" property="ht3" />
    <result column="JF1" jdbcType="VARCHAR" property="jf1" />
    <result column="JF2" jdbcType="VARCHAR" property="jf2" />
    <result column="JF3" jdbcType="VARCHAR" property="jf3" />
    <result column="JF4" jdbcType="VARCHAR" property="jf4" />
    <result column="JF5" jdbcType="VARCHAR" property="jf5" />
    <result column="JF6" jdbcType="VARCHAR" property="jf6" />
    <result column="JF7" jdbcType="VARCHAR" property="jf7" />
    <result column="JF8" jdbcType="VARCHAR" property="jf8" />
    <result column="JF9" jdbcType="VARCHAR" property="jf9" />
    <result column="JF10" jdbcType="VARCHAR" property="jf10" />
    <result column="JF11" jdbcType="VARCHAR" property="jf11" />
    <result column="JF12" jdbcType="VARCHAR" property="jf12" />
    <result column="JF13" jdbcType="VARCHAR" property="jf13" />
    <result column="JF14" jdbcType="VARCHAR" property="jf14" />
    <result column="JF15" jdbcType="VARCHAR" property="jf15" />
    <result column="JF16" jdbcType="VARCHAR" property="jf16" />
    <result column="YF1" jdbcType="VARCHAR" property="yf1" />
    <result column="YF2" jdbcType="VARCHAR" property="yf2" />
    <result column="YF3" jdbcType="VARCHAR" property="yf3" />
    <result column="YF4" jdbcType="VARCHAR" property="yf4" />
    <result column="YF5" jdbcType="VARCHAR" property="yf5" />
    <result column="YF6" jdbcType="VARCHAR" property="yf6" />
    <result column="YF7" jdbcType="VARCHAR" property="yf7" />
    <result column="YF8" jdbcType="VARCHAR" property="yf8" />
    <result column="YF9" jdbcType="VARCHAR" property="yf9" />
    <result column="YF10" jdbcType="VARCHAR" property="yf10" />
    <result column="YF11" jdbcType="VARCHAR" property="yf11" />
    <result column="YF12" jdbcType="VARCHAR" property="yf12" />
    <result column="YF13" jdbcType="VARCHAR" property="yf13" />
    <result column="YF14" jdbcType="VARCHAR" property="yf14" />
    <result column="YF15" jdbcType="VARCHAR" property="yf15" />
    <result column="YF16" jdbcType="VARCHAR" property="yf16" />
    <result column="YF17" jdbcType="VARCHAR" property="yf17" />
    <result column="YF18" jdbcType="VARCHAR" property="yf18" />
    <result column="YF19" jdbcType="VARCHAR" property="yf19" />
    <result column="D1T1" jdbcType="VARCHAR" property="d1t1" />
    <result column="D1T2" jdbcType="VARCHAR" property="d1t2" />
    <result column="D1T3" jdbcType="VARCHAR" property="d1t3" />
    <result column="D1T4" jdbcType="VARCHAR" property="d1t4" />
    <result column="D1T5" jdbcType="VARCHAR" property="d1t5" />
    <result column="D1T6" jdbcType="VARCHAR" property="d1t6" />
    <result column="D1T7" jdbcType="VARCHAR" property="d1t7" />
    <result column="D1T8" jdbcType="VARCHAR" property="d1t8" />
    <result column="D1T9" jdbcType="VARCHAR" property="d1t9" />
    <result column="D1T10" jdbcType="VARCHAR" property="d1t10" />
    <result column="D2T1" jdbcType="VARCHAR" property="d2t1" />
    <result column="D2T2" jdbcType="VARCHAR" property="d2t2" />
    <result column="D3T1" jdbcType="VARCHAR" property="d3t1" />
    <result column="D3T2" jdbcType="VARCHAR" property="d3t2" />
    <result column="D3T3" jdbcType="VARCHAR" property="d3t3" />
    <result column="D3T4" jdbcType="VARCHAR" property="d3t4" />
    <result column="D3T5" jdbcType="VARCHAR" property="d3t5" />
    <result column="D3T6" jdbcType="VARCHAR" property="d3t6" />
    <result column="D3T7" jdbcType="VARCHAR" property="d3t7" />
    <result column="D3T8" jdbcType="VARCHAR" property="d3t8" />
    <result column="D3T9" jdbcType="VARCHAR" property="d3t9" />
    <result column="D3T10" jdbcType="VARCHAR" property="d3t10" />
    <result column="D3T11" jdbcType="VARCHAR" property="d3t11" />
    <result column="D3T12" jdbcType="VARCHAR" property="d3t12" />
    <result column="D3T13" jdbcType="VARCHAR" property="d3t13" />
    <result column="D3T14" jdbcType="VARCHAR" property="d3t14" />
    <result column="D3T15" jdbcType="VARCHAR" property="d3t15" />
    <result column="D3T16" jdbcType="VARCHAR" property="d3t16" />
    <result column="D3T17" jdbcType="VARCHAR" property="d3t17" />
    <result column="D3T18" jdbcType="VARCHAR" property="d3t18" />
    <result column="D4T1" jdbcType="VARCHAR" property="d4t1" />
    <result column="D4T2" jdbcType="VARCHAR" property="d4t2" />
    <result column="D4T3" jdbcType="VARCHAR" property="d4t3" />
    <result column="D4T4" jdbcType="VARCHAR" property="d4t4" />
    <result column="D4T5" jdbcType="VARCHAR" property="d4t5" />
    <result column="D5T1" jdbcType="VARCHAR" property="d5t1" />
    <result column="D5T2" jdbcType="VARCHAR" property="d5t2" />
    <result column="D5T3" jdbcType="VARCHAR" property="d5t3" />
    <result column="D6T1" jdbcType="VARCHAR" property="d6t1" />
    <result column="D6T2" jdbcType="VARCHAR" property="d6t2" />
    <result column="D6T3" jdbcType="VARCHAR" property="d6t3" />
    <result column="D7T1" jdbcType="VARCHAR" property="d7t1" />
    <result column="D7T2" jdbcType="VARCHAR" property="d7t2" />
    <result column="D7T3" jdbcType="VARCHAR" property="d7t3" />
    <result column="D7T4" jdbcType="VARCHAR" property="d7t4" />
    <result column="D7T5" jdbcType="VARCHAR" property="d7t5" />
    <result column="D7T6" jdbcType="VARCHAR" property="d7t6" />
    <result column="D7T7" jdbcType="VARCHAR" property="d7t7" />
    <result column="D7T8" jdbcType="VARCHAR" property="d7t8" />
    <result column="D7T9" jdbcType="VARCHAR" property="d7t9" />
    <result column="D7T10" jdbcType="VARCHAR" property="d7t10" />
    <result column="D7T11" jdbcType="VARCHAR" property="d7t11" />
    <result column="D7T12" jdbcType="VARCHAR" property="d7t12" />
    <result column="D7T13" jdbcType="VARCHAR" property="d7t13" />
    <result column="D7T14" jdbcType="VARCHAR" property="d7t14" />
    <result column="D7T15" jdbcType="VARCHAR" property="d7t15" />
    <result column="D7T16" jdbcType="VARCHAR" property="d7t16" />
    <result column="D7T17" jdbcType="VARCHAR" property="d7t17" />
    <result column="D7T18" jdbcType="VARCHAR" property="d7t18" />
    <result column="D8T1" jdbcType="VARCHAR" property="d8t1" />
    <result column="D8T2" jdbcType="VARCHAR" property="d8t2" />
    <result column="D8T3" jdbcType="VARCHAR" property="d8t3" />
    <result column="D8T4" jdbcType="VARCHAR" property="d8t4" />
    <result column="D8T5" jdbcType="VARCHAR" property="d8t5" />
    <result column="D8T6" jdbcType="VARCHAR" property="d8t6" />
    <result column="D8T7" jdbcType="VARCHAR" property="d8t7" />
    <result column="D8T8" jdbcType="VARCHAR" property="d8t8" />
    <result column="D8T9" jdbcType="VARCHAR" property="d8t9" />
    <result column="D8T10" jdbcType="VARCHAR" property="d8t10" />
    <result column="D8T11" jdbcType="VARCHAR" property="d8t11" />
    <result column="D8T12" jdbcType="VARCHAR" property="d8t12" />
    <result column="D8T13" jdbcType="VARCHAR" property="d8t13" />
    <result column="D8T14" jdbcType="VARCHAR" property="d8t14" />
    <result column="D8T15" jdbcType="VARCHAR" property="d8t15" />
    <result column="D8T16" jdbcType="VARCHAR" property="d8t16" />
    <result column="D8T17" jdbcType="VARCHAR" property="d8t17" />
    <result column="D8T18" jdbcType="VARCHAR" property="d8t18" />
    <result column="D8T19" jdbcType="VARCHAR" property="d8t19" />
    <result column="D8T20" jdbcType="VARCHAR" property="d8t20" />
    <result column="D8T21" jdbcType="VARCHAR" property="d8t21" />
    <result column="D8T22" jdbcType="VARCHAR" property="d8t22" />
    <result column="D8T23" jdbcType="VARCHAR" property="d8t23" />
    <result column="D8T24" jdbcType="VARCHAR" property="d8t24" />
    <result column="D8T25" jdbcType="VARCHAR" property="d8t25" />
    <result column="D8T26" jdbcType="VARCHAR" property="d8t26" />
    <result column="D8T27" jdbcType="VARCHAR" property="d8t27" />
    <result column="D9T1" jdbcType="VARCHAR" property="d9t1" />
    <result column="D9T2" jdbcType="VARCHAR" property="d9t2" />
    <result column="D9T3" jdbcType="VARCHAR" property="d9t3" />
    <result column="D9T4" jdbcType="VARCHAR" property="d9t4" />
    <result column="D9T5" jdbcType="VARCHAR" property="d9t5" />
    <result column="D9T6" jdbcType="VARCHAR" property="d9t6" />
    <result column="D9T7" jdbcType="VARCHAR" property="d9t7" />
    <result column="D9T8" jdbcType="VARCHAR" property="d9t8" />
    <result column="D10T1" jdbcType="VARCHAR" property="d10t1" />
    <result column="D10T2" jdbcType="VARCHAR" property="d10t2" />
    <result column="D10T3" jdbcType="VARCHAR" property="d10t3" />
    <result column="D10T4" jdbcType="VARCHAR" property="d10t4" />
    <result column="D11T1" jdbcType="VARCHAR" property="d11t1" />
    <result column="D11T2" jdbcType="VARCHAR" property="d11t2" />
    <result column="D11T3" jdbcType="VARCHAR" property="d11t3" />
    <result column="D11T4" jdbcType="VARCHAR" property="d11t4" />
    <result column="D11T5" jdbcType="VARCHAR" property="d11t5" />
    <result column="D11T6" jdbcType="VARCHAR" property="d11t6" />
    <result column="D11T7" jdbcType="VARCHAR" property="d11t7" />
    <result column="D11T8" jdbcType="VARCHAR" property="d11t8" />
    <result column="D11T9" jdbcType="VARCHAR" property="d11t9" />
    <result column="D11T10" jdbcType="VARCHAR" property="d11t10" />
    <result column="D11T11" jdbcType="VARCHAR" property="d11t11" />
    <result column="D11T12" jdbcType="VARCHAR" property="d11t12" />
    <result column="D11T13" jdbcType="VARCHAR" property="d11t13" />
    <result column="D11T14" jdbcType="VARCHAR" property="d11t14" />
    <result column="D11T15" jdbcType="VARCHAR" property="d11t15" />
    <result column="D11T16" jdbcType="VARCHAR" property="d11t16" />
    <result column="D11T17" jdbcType="VARCHAR" property="d11t17" />
    <result column="D11T18" jdbcType="VARCHAR" property="d11t18" />
    <result column="D11T19" jdbcType="VARCHAR" property="d11t19" />
    <result column="D11T20" jdbcType="VARCHAR" property="d11t20" />
    <result column="D11T21" jdbcType="VARCHAR" property="d11t21" />
    <result column="D11T22" jdbcType="VARCHAR" property="d11t22" />
    <result column="D11T23" jdbcType="VARCHAR" property="d11t23" />
    <result column="D11T24" jdbcType="VARCHAR" property="d11t24" />
    <result column="D11T25" jdbcType="VARCHAR" property="d11t25" />
    <result column="D11T26" jdbcType="VARCHAR" property="d11t26" />
    <result column="D11T27" jdbcType="VARCHAR" property="d11t27" />
    <result column="D11T28" jdbcType="VARCHAR" property="d11t28" />
    <result column="D11T29" jdbcType="VARCHAR" property="d11t29" />
    <result column="D11T30" jdbcType="VARCHAR" property="d11t30" />
    <result column="D11T31" jdbcType="VARCHAR" property="d11t31" />
    <result column="D12T1" jdbcType="VARCHAR" property="d12t1" />
    <result column="D12T2" jdbcType="VARCHAR" property="d12t2" />
    <result column="D12T3" jdbcType="VARCHAR" property="d12t3" />
    <result column="D12T4" jdbcType="VARCHAR" property="d12t4" />
    <result column="D12T5" jdbcType="VARCHAR" property="d12t5" />
    <result column="D12T6" jdbcType="VARCHAR" property="d12t6" /> 
    <result column="D13T1" jdbcType="VARCHAR" property="d13t1" />
    <result column="D13T2" jdbcType="VARCHAR" property="d13t2" />
    <result column="D13T3" jdbcType="VARCHAR" property="d13t3" />
    <result column="D13T4" jdbcType="VARCHAR" property="d13t4" />
    <result column="D13T5" jdbcType="VARCHAR" property="d13t5" />
    <result column="D13T6" jdbcType="VARCHAR" property="d13t6" />
    <result column="D13T7" jdbcType="VARCHAR" property="d13t7" />
    <result column="D13T8" jdbcType="VARCHAR" property="d13t8" />
    <result column="D14T1" jdbcType="VARCHAR" property="d14t1" />
    <result column="D14T2" jdbcType="VARCHAR" property="d14t2" />
    <result column="D14T3" jdbcType="VARCHAR" property="d14t3" />
    <result column="D14T4" jdbcType="VARCHAR" property="d14t4" />
    <result column="D14T5" jdbcType="VARCHAR" property="d14t5" />
    <result column="D14T6" jdbcType="VARCHAR" property="d14t6" />
    <result column="D14T7" jdbcType="VARCHAR" property="d14t7" />
    <result column="D14T8" jdbcType="VARCHAR" property="d14t8" />
    <result column="D14T9" jdbcType="VARCHAR" property="d14t9" />
    <result column="D14T10" jdbcType="VARCHAR" property="d14t10" />
    <result column="D14T11" jdbcType="VARCHAR" property="d14t11" />
    <result column="D14T12" jdbcType="VARCHAR" property="d14t12" />
    <result column="D14T13" jdbcType="VARCHAR" property="d14t13" />
    <result column="D14T14" jdbcType="VARCHAR" property="d14t14" />
    <result column="D14T15" jdbcType="VARCHAR" property="d14t15" />
    <result column="D15T1" jdbcType="VARCHAR" property="d15t1" />
    <result column="D15T2" jdbcType="VARCHAR" property="d15t2" />
    <result column="D16T1" jdbcType="VARCHAR" property="d16t1" />
    <result column="D17T1" jdbcType="VARCHAR" property="d17t1" />
    <result column="D17T2" jdbcType="VARCHAR" property="d17t2" />
    <result column="D17T3" jdbcType="VARCHAR" property="d17t3" />
    <result column="D17T4" jdbcType="VARCHAR" property="d17t4" />
    <result column="D17T5" jdbcType="VARCHAR" property="d17t5" />
    <result column="D18T1" jdbcType="VARCHAR" property="d18t1" />
    <result column="D18T2" jdbcType="VARCHAR" property="d18t2" />
    <result column="D18T3" jdbcType="VARCHAR" property="d18t3" />
    <result column="D18T4" jdbcType="VARCHAR" property="d18t4" />
    <result column="D18T5" jdbcType="VARCHAR" property="d18t5" />
    <result column="D19T1" jdbcType="VARCHAR" property="d19t1" />
    <result column="D19T2" jdbcType="VARCHAR" property="d19t2" />
    <result column="D19T3" jdbcType="VARCHAR" property="d19t3" />
    <result column="D19T4" jdbcType="VARCHAR" property="d19t4" />
    <result column="D21T1" jdbcType="VARCHAR" property="d21t1" />
    <result column="D21T2" jdbcType="VARCHAR" property="d21t2" />
    <result column="D22T1" jdbcType="VARCHAR" property="d22t1" />
    <result column="D22T2" jdbcType="VARCHAR" property="d22t2" />
    <result column="D24T1" jdbcType="VARCHAR" property="d24t1" />
    <result column="D24T2" jdbcType="VARCHAR" property="d24t2" />
    <result column="D26T1" jdbcType="VARCHAR" property="d26t1" />
    <result column="D26T2" jdbcType="VARCHAR" property="d26t2" />
    <result column="D26T3" jdbcType="VARCHAR" property="d26t3" />
    <result column="D26T4" jdbcType="VARCHAR" property="d26t4" />
    <result column="D26T5" jdbcType="VARCHAR" property="d26t5" />
    <result column="D26T6" jdbcType="VARCHAR" property="d26t6" />
    <result column="D26T7" jdbcType="VARCHAR" property="d26t7" />
    <result column="D26T8" jdbcType="VARCHAR" property="d26t8" />
    <result column="QZ1" jdbcType="VARCHAR" property="qz1" />
    <result column="QZ2" jdbcType="VARCHAR" property="qz2" />
    <result column="QZ3" jdbcType="VARCHAR" property="qz3" />
    <result column="QZ4" jdbcType="VARCHAR" property="qz4" />
    <result column="QZ5" jdbcType="VARCHAR" property="qz5" />
    <result column="QZ6" jdbcType="VARCHAR" property="qz6" />
    <result column="QZ7" jdbcType="VARCHAR" property="qz7" />
    <result column="QZ8" jdbcType="VARCHAR" property="qz8" />
    <result column="QZ9" jdbcType="VARCHAR" property="qz9" />
    <result column="QZ10" jdbcType="VARCHAR" property="qz10" />
    <result column="QZ11" jdbcType="VARCHAR" property="qz11" />
    <result column="FJ7JW1" jdbcType="VARCHAR" property="fj7jw1" />
    <result column="FJ7JW2" jdbcType="VARCHAR" property="fj7jw2" />
    <result column="FJ7JW3" jdbcType="VARCHAR" property="fj7jw3" />
    <result column="FJ7JW4" jdbcType="VARCHAR" property="fj7jw4" />
    <result column="FJ7JW5" jdbcType="VARCHAR" property="fj7jw5" />
    <result column="FJ7JW6" jdbcType="VARCHAR" property="fj7jw6" />
    <result column="FJ7JW7" jdbcType="VARCHAR" property="fj7jw7" />
    <result column="FJ7JW8" jdbcType="VARCHAR" property="fj7jw8" />
    <result column="FJ7JW9" jdbcType="VARCHAR" property="fj7jw9" />
    <result column="FJ7JW10" jdbcType="VARCHAR" property="fj7jw10" />
    <result column="FJ7JW11" jdbcType="VARCHAR" property="fj7jw11" />
    <result column="FJ7JW12" jdbcType="VARCHAR" property="fj7jw12" />
    <result column="FJ7JW13" jdbcType="VARCHAR" property="fj7jw13" />
    <result column="FJ7JW14" jdbcType="VARCHAR" property="fj7jw14" />
    <result column="FJ7JW15" jdbcType="VARCHAR" property="fj7jw15" />
    <result column="FJ7JW16" jdbcType="VARCHAR" property="fj7jw16" />
    <result column="FJ7JW17" jdbcType="VARCHAR" property="fj7jw17" />
    <result column="FJ7JW18" jdbcType="VARCHAR" property="fj7jw18" />
    <result column="FJ7JW19" jdbcType="VARCHAR" property="fj7jw19" />
    <result column="FJ7JW20" jdbcType="VARCHAR" property="fj7jw20" />
    <result column="FJ7JW21" jdbcType="VARCHAR" property="fj7jw21" />
    <result column="FJ7JW22" jdbcType="VARCHAR" property="fj7jw22" />
    <result column="FJ7JW23" jdbcType="VARCHAR" property="fj7jw23" />
    <result column="FJ7JW24" jdbcType="VARCHAR" property="fj7jw24" />
    <result column="FJ7JW25" jdbcType="VARCHAR" property="fj7jw25" />
    <result column="FJ7JW26" jdbcType="VARCHAR" property="fj7jw26" />
    <result column="FJ7JW27" jdbcType="VARCHAR" property="fj7jw27" />
    <result column="FJ7JW28" jdbcType="VARCHAR" property="fj7jw28" />
    <result column="FJ7JW29" jdbcType="VARCHAR" property="fj7jw29" />
    <result column="FJ7JW30" jdbcType="VARCHAR" property="fj7jw30" />
    <result column="FJ8JW1" jdbcType="VARCHAR" property="fj8jw1" />
    <result column="FJ8JW2" jdbcType="VARCHAR" property="fj8jw2" />
    <result column="FJ8JW3" jdbcType="VARCHAR" property="fj8jw3" />
    <result column="FJ8JW4" jdbcType="VARCHAR" property="fj8jw4" />
    <result column="FJ8JW5" jdbcType="VARCHAR" property="fj8jw5" />
    <result column="FJ8JW6" jdbcType="VARCHAR" property="fj8jw6" />
    <result column="FJ8JW7" jdbcType="VARCHAR" property="fj8jw7" />
    <result column="FJ8JW8" jdbcType="VARCHAR" property="fj8jw8" />
    <result column="FJ8JW9" jdbcType="VARCHAR" property="fj8jw9" />
    <result column="FJ8JW10" jdbcType="VARCHAR" property="fj8jw10" />
    <result column="FJ8JW11" jdbcType="VARCHAR" property="fj8jw11" />
    <result column="FJ8JW12" jdbcType="VARCHAR" property="fj8jw12" />
    <result column="FJ8JW13" jdbcType="VARCHAR" property="fj8jw13" />
    <result column="FJ8JW14" jdbcType="VARCHAR" property="fj8jw14" />
    <result column="D12T7" jdbcType="VARCHAR" property="d12t7" />
    <result column="D12T8" jdbcType="VARCHAR" property="d12t8" />

</resultMap>

    <select id="getIdByHousetradeId"  parameterType="String" resultType="String">
        select Id
        from CASH_SALES_TEMPLATE t
        where t.housetradeid=#{housetradeid}
    </select>
    <select id="getAllByHousetradeId"  parameterType="String" resultType="CashSalesTemplate">
        select *
        from CASH_SALES_TEMPLATE t
        where t.housetradeid=#{housetradeid}
    </select>

</mapper>