<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grandeflorum.contract.dao.HouseTradeMapper">
    <resultMap id="BaseResultMap" type="com.grandeflorum.contract.domain.HouseTrade">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="DJ" jdbcType="DECIMAL" property="dj"/>
        <result column="ZJ" jdbcType="DECIMAL" property="zj"/>
        <result column="RWSJ" jdbcType="TIMESTAMP" property="rwsj"/>
        <result column="HTBAH" jdbcType="VARCHAR" property="htbah"/>
        <result column="BASJ" jdbcType="TIMESTAMP" property="basj"/>
        <result column="BUYER" jdbcType="VARCHAR" property="buyer"/>
        <result column="SFZH" jdbcType="VARCHAR" property="sfzh"/>
        <result column="LXDZ" jdbcType="VARCHAR" property="lxdz"/>
        <result column="YSXKZ" jdbcType="VARCHAR" property="ysxkz"/>
        <result column="ISPASS" jdbcType="DECIMAL" property="isPass"/>
        <result column="CURRENTSTATUS" jdbcType="DECIMAL" property="currentStatus"/>
        <result column="HOUSEID" jdbcType="VARCHAR" property="houseId"/>
        <result column="CONTRACTID" jdbcType="VARCHAR" property="contractId"/>
        <result column="SYS_DATE" jdbcType="TIMESTAMP" property="sysDate"/>
        <result column="SYS_UPD_DATE" jdbcType="TIMESTAMP" property="sysUpdDate"/>
    </resultMap>

    <resultMap id="listMap" type="com.grandeflorum.contract.domain.HouseTrade" extends="BaseResultMap">
        <result column="XMMC" jdbcType="VARCHAR" property="xmmc" />
        <result column="JZWMC" jdbcType="VARCHAR" property="jzwmc" />
        <result column="ZH" jdbcType="VARCHAR" property="zh" />
        <result column="DYH" jdbcType="VARCHAR" property="dyh" />
        <result column="CH" jdbcType="VARCHAR" property="ch" />
        <result column="FH" jdbcType="VARCHAR" property="fh" />
    </resultMap>

    <!--获取商品房合同查询列表-->
    <select id="getHouseTradeList" resultMap="listMap">
        select t2.xmmc ,t2.JZWMC,t1.mph zh,t.dymc dyh, t.ch,t.mph fh,hnt.* from house_new_trade hnt
        left join h t on hnt.houseid=t.id
        left join ljz t1 on t.ljzh=t1.ljzh
        left join zrz t2 on t1.zrzh=t2.zrzh
        where 1=1 and nvl(hnt.iscancel,0)!=1
        <if test="jzwmc!=null and jzwmc != ''">
            and (t2.jzwmc like '%'||#{jzwmc}||'%' )
        </if>
        <if test="xmmc!=null and xmmc != ''">
            and (t2.xmmc like '%'||#{xmmc}||'%' )
        </if>
        <if test="currentStatus!=null and currentStatus != ''">
            and hnt.currentStatus=#{currentStatus}
        </if>
        <if test="sort!=null and sort.size()>0">
            <foreach collection="sort" item="item" open="order by " separator=",">
                ${item}
            </foreach>
        </if>
        <if test="sort==null or sort.size()==0">
            order by hnt.SYS_UPD_DATE desc
        </if>
    </select>

    <!--获取商品房注销查询列表-->
    <select id="getHouseTradeCancelList" resultType="com.grandeflorum.contract.domain.ContractCancel">
        select hnt.id as id, hnt.htbah,hnt.lxdz as zl, hnt.buyer as cqr, hnt.buyer as gmr,wa.shrq as zxrq,wa.zxly from house_new_trade hnt
        left join wf_audit wa on hnt.id=wa.projectid
        where hnt.iscancel=1 and wa.currentstatus=5
        <if test="htbah!=null and htbah != ''">
            and (hnt.htbah like '%'||#{htbah}||'%' )
        </if>
        <if test="ksrq!=null and ksrq != ''">
            and wa.shrq<![CDATA[>=]]>to_date(#{ksrq},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="jsrq!=null and jsrq != ''">
            and wa.shrq<![CDATA[<=]]>to_date(#{jsrq},'yyyy-mm-dd hh24:mi:ss')
        </if>
            order by hnt.SYS_UPD_DATE desc
    </select>

    <update id="auditHouseTradeById" parameterType="map">
        update house_new_trade t set t.CURRENTSTATUS = #{type} WHERE  t.id = #{id}
    </update>

    <select id="linkH" parameterType="map">
        update HOUSE_NEW_TRADE t set t.HOUSEID = #{hid} where t.id=#{id}
    </select>

    <select id="getLjzh" parameterType="String" resultType="String">
        select t1.id from h t
        left join ljz t1 on t.LJZH = t1.LJZH
        where t.id=#{hid}
    </select>

    <select id="getHouseTradeById"  parameterType="String" resultType="com.grandeflorum.contract.domain.HouseTrade">
      select t2.xmmc ,t2.JZWMC,t1.mph zh,t.dymc dyh, t.ch,t.mph fh,hnt.*
      from house_new_trade hnt
      left join h t on hnt.houseid=t.id
      left join ljz t1 on t.ljzh=t1.ljzh
      left join zrz t2 on t1.zrzh=t2.zrzh
      where hnt.id=#{id}
    </select>

    <select id="getCompanyByAssociatedId" parameterType="String" resultType="com.grandeflorum.practitioner.domain.Company">
           select c.* from associated_company ac
            left join company c on ac.companyid = c.id
            where ac.associatedid =#{id}
    </select>

    <select id="getProjectByCompanyId" parameterType="String" resultType="com.grandeflorum.project.domain.Project">
          select *from project t where t.company_id = #{companyId}
    </select>

    <select id="queryHinfoByTradeId" parameterType="String" resultType="map">
      select h.*
  from house_new_trade hnt
  left join (select h.id, h.YCJZMJ,h.YCTNJZMJ,h.YCFTJZMJ, h.FWYT1, ljz.fwjg1,ljz.ZCS,ljz.dscs,0 as dxcs
               from h
               left join ljz
                 on h.LJZH = ljz.LJZH
             union all
             select utl_raw.cast_to_raw(fg_h.id) id,

                    fg_h.YCJZMJ,
                    fg_h.YCTNJZMJ,
                    fg_h.YCFTJZMJ,
                    fg_h.FWYT1,
                    fg_ljz.fwjg1,
                    fg_ljz.zcs,
                    fg_ljz.dscs,
                    fg_ljz.dxcs
               from fg_h
               left join fg_ljz
                 on fg_h.ljzh = fg_ljz.ljzh) h
    on hnt.houseid = h.id
 where hnt.id = #{id}
    </select>

</mapper>