<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grandeflorum.contract.dao.StockTradeMapper">
    <resultMap id="BaseResultMap" type="com.grandeflorum.contract.domain.StockTrade">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="HTBH" jdbcType="VARCHAR" property="htbh"/>
        <result column="JF" jdbcType="VARCHAR" property="jf"/>
        <result column="JFLXDZ" jdbcType="VARCHAR" property="jflxdz"/>
        <result column="JFZJLX" jdbcType="VARCHAR" property="jfzjlx"/>
        <result column="JFZJHM" jdbcType="VARCHAR" property="jfzjhm"/>
        <result column="JFLXDH" jdbcType="VARCHAR" property="jflxdh"/>
        <result column="YF" jdbcType="VARCHAR" property="yf"/>
        <result column="YFLXDZ" jdbcType="VARCHAR" property="yflxdz"/>
        <result column="YFZJLX" jdbcType="VARCHAR" property="yfzjlx"/>
        <result column="YFZJHM" jdbcType="VARCHAR" property="yfzjhm"/>
        <result column="YFLXDH" jdbcType="VARCHAR" property="yflxdh"/>
        <result column="DJ" jdbcType="DECIMAL" property="dj"/>
        <result column="ZJ" jdbcType="DECIMAL" property="zj"/>
        <result column="RWSJ" jdbcType="TIMESTAMP" property="rwsj"/>
        <result column="HOUSEID" jdbcType="VARCHAR" property="houseId"/>
        <result column="CONTRACTID" jdbcType="VARCHAR" property="contractId"/>
        <result column="HTBAH" jdbcType="VARCHAR" property="htbah"/>
        <result column="CURRENTSTATUS" jdbcType="DECIMAL" property="currentStatus"/>
        <result column="ISPASS" jdbcType="DECIMAL" property="isPass"/>
        <result column="SYS_DATE" jdbcType="TIMESTAMP" property="sysDate"/>
        <result column="SYS_UPD_DATE" jdbcType="TIMESTAMP" property="sysUpdDate"/>
        <result column="BDCQZH" jdbcType="VARCHAR" property="bdcqzh"/>
        <result column="DJSJ" jdbcType="TIMESTAMP" property="djsj"/>
        <result column="DJR" jdbcType="VARCHAR" property="djr"/>
        <result column="BASJ" jdbcType="TIMESTAMP" property="basj"/>
        <result column="ISCANCEL" jdbcType="DECIMAL" property="isCancel"/>
        <result column="GYQK" jdbcType="DECIMAL" property="gyqk"/>
        <result column="GYBL" jdbcType="VARCHAR" property="gybl"/>
    </resultMap>

    <resultMap id="listMap" type="com.grandeflorum.contract.domain.StockTrade" extends="BaseResultMap">
        <result column="XMMC" jdbcType="VARCHAR" property="xmmc" />
        <result column="JZWMC" jdbcType="VARCHAR" property="jzwmc" />
        <result column="ZH" jdbcType="VARCHAR" property="zh" />
        <result column="DYH" jdbcType="VARCHAR" property="dyh" />
        <result column="CH" jdbcType="VARCHAR" property="ch" />
        <result column="FH" jdbcType="VARCHAR" property="fh" />
    </resultMap>

    <!--获取存量合同查询列表-->
    <select id="getStockTradeList" resultMap="listMap">
        select t2.xmmc ,t2.JZWMC,t1.mph zh,t.dymc dyh, t.ch,t.mph fh,hst.* from HOUSE_STOCK_TRADE hst
        left join h t on hst.houseid=t.id
        left join ljz t1 on t.ljzh=t1.ljzh
        left join zrz t2 on t1.zrzh=t2.zrzh
        <if test="needFilter">
            left join project p on p.ID = t2.XMID
            left join ASSOCIATED_COMPANY ac on ac.ASSOCIATEDID=hst.id and ac.MODULENAME='stockTrade'
        </if>
        where 1=1 and  nvl(hst.iscancel,0) not in (1,2)
        <if test="jzwmc!=null and jzwmc != ''">
            and (t2.jzwmc like '%'||#{jzwmc}||'%' )
        </if>
        <if test="xmmc!=null and xmmc != ''">
            and (t2.xmmc like '%'||#{xmmc}||'%' )
        </if>
        <if test="currentStatus!=null and currentStatus != ''">
            and hst.currentStatus=#{currentStatus}
        </if>
        <if test="needFilter">
            and (
              p.COMPANY_ID in
            <foreach collection="companyList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
              or ac.COMPANYID in
            <foreach collection="companyList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            or hst.DJR=#{userId}
            )
        </if>
        <if test="sort!=null and sort.size()>0">
            <foreach collection="sort" item="item" open="order by " separator=",">
                ${item}
            </foreach>
        </if>
        <if test="sort==null or sort.size()==0">
            order by hst.SYS_UPD_DATE desc
        </if>
    </select>

    <!--获取商品房注销查询列表-->
    <select id="getStockTradeCancelList" resultType="com.grandeflorum.contract.domain.ContractCancel">
        select hst.id as id, hst.htbah,hst.jflxdz as zl, hst.jf as cqr, hst.yf as gmr,wa.shrq as zxrq,wa.zxly,hst.iscancel as status from house_stock_trade hst
        left join wf_audit wa on hst.id=wa.projectid
        left join h t on hst.houseid=t.id
        left join ljz t1 on t.ljzh=t1.ljzh
        left join zrz t2 on t1.zrzh=t2.zrzh
        <if test="needFilter">
            left join project p on p.ID = t2.XMID
            left join ASSOCIATED_COMPANY ac on ac.ASSOCIATEDID=hst.id and ac.MODULENAME='stockTrade'
        </if>
        where hst.iscancel in (1,2) and wa.currentstatus=5
        <if test="htbah!=null and htbah != ''">
            and (hst.htbah like '%'||#{htbah}||'%' )
        </if>
        <if test="ksrq!=null and ksrq != ''">
            and wa.shrq<![CDATA[>=]]>to_date(#{ksrq},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="jsrq!=null and jsrq != ''">
            and wa.shrq<![CDATA[<=]]>to_date(#{jsrq},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="needFilter">
            and (
            p.COMPANY_ID in
            <foreach collection="companyList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            or ac.COMPANYID in
            <foreach collection="companyList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            or hst.DJR=#{userId}
            )
        </if>
        order by hst.SYS_UPD_DATE desc
    </select>

    <update id="auditStockTradeById" parameterType="map">
        update HOUSE_STOCK_TRADE t set t.CURRENTSTATUS = #{type} WHERE  t.id = #{id}
    </update>

    <select id="linkH" parameterType="map">
        update HOUSE_STOCK_TRADE t set t.HOUSEID = #{hid} where t.id=#{id}
    </select>

    <select id="getLjzh" parameterType="String" resultType="String">
        select t1.id from h t
        left join ljz t1 on t.LJZH = t1.LJZH
        where t.id=#{hid}
    </select>

    <select id="getStockTradeById"  parameterType="String" resultType="com.grandeflorum.contract.domain.StockTrade">
        select t2.xmmc ,t2.JZWMC,t1.mph zh,t.dymc dyh, t.ch,t.mph fh,hst.*,t1.zl
        from house_stock_trade hst
        left join h t on hst.houseid=t.id
        left join ljz t1 on t.ljzh=t1.ljzh
        left join zrz t2 on t1.zrzh=t2.zrzh
        where hst.id=#{id}
    </select>

    <select id="queryHinfoByStockId" parameterType="String" resultType="map">
        select h.id, h.zl, h.SCJZMJ, h.FWYT1, ljz.fwjg1
          from house_stock_trade hst
          left join  h on hst.houseid = h.id
          left join ljz on h.LJZH = ljz.LJZH
         where hst.id = #{id}
    </select>

    <update id="sh" parameterType="String">
        UPDATE house_stock_trade t set t.CURRENTSTATUS =1 where t.id = #{id}
    </update>

    <select id="getHInfo"  parameterType="String" resultType="com.grandeflorum.contract.domain.StockTrade">
        select t2.xmmc ,t2.JZWMC,t1.mph zh,t.dymc dyh, t.ch,t.mph fh,t.id as houseId,t1.id as ljzid
        from  h t
        left join ljz t1 on t.ljzh=t1.ljzh
        left join zrz t2 on t1.zrzh=t2.zrzh
        where t.id=#{id}
    </select>

</mapper>