<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grandeflorum.attachment.dao.FileInfoMapper">
    <resultMap id="BaseResultMap" type="com.grandeflorum.attachment.domain.FileInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="REF_ID" jdbcType="VARCHAR" property="refId"/>
        <result column="FILE_TYPE" jdbcType="DECIMAL" property="fileType"/>
        <result column="SERVER_FILE_NAME" jdbcType="VARCHAR" property="serverFileName"/>
        <result column="CLIENT_FILE_NAME" jdbcType="VARCHAR" property="clientFileName"/>
        <result column="SERVER_PATH" jdbcType="VARCHAR" property="serverPath"/>
        <result column="UPLOAD_USER_ID" jdbcType="VARCHAR" property="uploadUserId"/>
        <result column="UPLOAD_DATE" jdbcType="TIMESTAMP" property="uploadDate"/>
        <result column="FILE_SUFFIX" jdbcType="VARCHAR" property="fileSuffix"/>
    </resultMap>

    <update id="updateFileInfoByIds" parameterType="map">
        UPDATE file_info t set t.ref_id = #{id} where t.id IN
        <foreach collection="fileIds" item="item" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </update>

    <select id="getFileListByRefidAndType" resultMap="BaseResultMap">
        select * from file_info t where 1=1
        <if test="refid!=null and refid !=''">
            and t.ref_id=#{refid}
        </if>

        <if test="type!=null and type!=''">
            and t.FILE_TYPE=#{type}
        </if>

        <if test="name!=null and name!=''">
            and (t.CLIENT_FILE_NAME like '%'||#{name}||'%' )
        </if>
        order by UPLOAD_DATE desc
    </select>
</mapper>