<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.WFAuditMapper">
  <resultMap id="BaseResultMap" type="domain.WFAudit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SHJG" jdbcType="DECIMAL" property="shjg" />
    <result column="SHRY" jdbcType="VARCHAR" property="shry" />
    <result column="SHRQ" jdbcType="TIMESTAMP" property="shrq" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
    <result column="PROJECTID" jdbcType="VARCHAR" property="projectid" />
    <result column="SYS_DATE" jdbcType="TIMESTAMP" property="sysDate" />
    <result column="SYS_UPD_DATE" jdbcType="TIMESTAMP" property="sysUpdDate" />
  </resultMap>
</mapper>